body {
    background-color: #f1ece7;
}

.register-form__content {
    border-width: 10px;
    border-color: #c589b0;
}

.register-form__heading {
    color: #8b7969;
    font-family: 'Inika';
    font-weight: 400;
    font-size: 35px;
    text-align: center;
}

.register__form {
    margin: 0 auto;
    margin-top: 20px;
    width: 40%;
    background-color: #fff;
    border: 1px solid #c5b9b0;
    border-radius: 10px;
}

.form__group {
    padding: 10px 10px;
    margin-bottom: 15px;
}

.form__label--item {
    font-family: 'Inika';
    font-weight: 400;
    font-size: 25px;
    color: #8b7969;
}

.form__group--input {
    background-color: #f4f4f4;
    width: 445px;
    height: 55px;
    border: none;
}

.form__button {
    text-align: center;
}

.form__button-submit {
    background-color: #82756a;
    color: #fff;
    font-family: 'Inika';
    font-weight: 400;
    padding: 10px 40px;
}